:host {
	width: 100%;
}
.search-container {
	width: 100%;
	max-width: var(--layout-width-max);
	margin: 1rem auto;
	padding: var(--layout-padding);
}

.search-field {
	width: 100%;

	mat-label {
		font-weight: 500;
		color: rgba(0, 0, 0, var(--font-opacity));
	}

	input[matInput] {
		font-size: 1rem;
	}

	button {
		color: rgba(0, 0, 0, 0.6);
		transition: color 0.3s ease;

		&:hover {
			color: rgba(0, 0, 0, 0.8);
		}
	}
}
